<kendo-grid #grid
  [data]="query | async"
  [loading]="loading"
  [skip]="state.skip"
  [pageSize]="state.take"
  [scrollable]="'virtual'"
  [rowHeight]="40"
  [height]="450"
  (pageChange)="pageChange($event)"
  [sortable]="{ mode: 'single'}"
  [sort]="state.sort"
  (sortChange)="sortChange($event)"
  [selectable]="{ mode: 'single' }"
  [kendoGridSelectBy]="'Id'"
  [selectedKeys]="mySelection"
  (selectedKeysChange)="onSelectedKeysChange($event)"
  (selectionChange)="onSelectedChange($event)">
  <kendo-grid-column field="Id" [width]="80" title="ID"></kendo-grid-column>
  <kendo-grid-column field="IsActive" [width]="80" title="IsActive"></kendo-grid-column>
  <kendo-grid-column field="Balance" [width]="80" title="Balance"></kendo-grid-column>
  <kendo-grid-column field="Picture" [width]="80" title="Picture"></kendo-grid-column>
  <kendo-grid-column field="Age" [width]="80" title="Age"></kendo-grid-column>
  <kendo-grid-column field="EyeColor" [width]="80" title="EyeColor"></kendo-grid-column>
  <kendo-grid-column field="FullName" [width]="80" title="FullName"></kendo-grid-column>
  <kendo-grid-column field="Company" [width]="80" title="Company"></kendo-grid-column>
  <kendo-grid-column field="Email" [width]="80" title="Email"></kendo-grid-column>
  <kendo-grid-column field="Phone" [width]="80" title="Phone"></kendo-grid-column>
  <kendo-grid-column field="Address" [width]="80" title="Address"></kendo-grid-column>
  <kendo-grid-column field="Greeting" title="Greeting" [width]="200"></kendo-grid-column>
  <kendo-grid-column field="Registered" title="Registered" [width]="100"></kendo-grid-column>
  <kendo-grid-column field="About" title="About" [width]="200"></kendo-grid-column>
</kendo-grid>
